{
  "token": "bot_token",
  "serverID": "693277318496920420",
  "channelID": "461248569698208129",
  "webhook": "",
  "reactionEmoji": "⭐",
  "embedEmoji": "⭐",
  "threshold": 15,
  "hexcolor": "00AE86",
  "dateCutoff": 3,
  "fetchLimit": 100,
  "editMsgGracePeriod": 300
}
